body {
    font-family: Arial, sans-serif;
    background-color: #9fcefd;
    color: #333;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    padding: 1%;
    background-color: white;
    border: solid 4px rgb(0, 98, 196);
    border-radius: 5px;
    color: rgb(0, 98, 196);
    margin-bottom: 20px;
}

#catGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1200px;
}

#catGrid a:hover{
    background-color: rgb(0, 98, 196);
}

.cat-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cat-card img {
    width: 100%;
    height: auto;
    border-radius: 6px;
    margin-bottom: 10px;
}

.cat-card h3 {
    font-size: 18px;
    color: #333;
    margin: 0 0 10px;
}

.pagination {
    margin-top: 20px;
    display: flex;
    white-space: nowrap;
    gap: 10px;
    align-items: center;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover{
    background-color: #3be641;
}

button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

.see-details-button {
    background: cornflowerblue;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 4px;
    display: inline-block;
}

.cat-details {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    width: 80%;
    max-width: 600px;
}

.cat-details img {
    width: 200px;
    height: auto;
    border-radius: 6px;
    margin-right: 20px;
}

.cat-details div {
    flex-grow: 1;
}

.cat-details h1 {
    margin-top: 0;
}

.page-number{
    padding: 3%;
    background-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 98, 196);
    border: solid 2px rgb(0, 98, 196);
    border-radius: 5px;
}

.quantiy-button{
    background-color: #219c80;
}

.quantiy-button:hover{
    background-color: #0e5847;
}